PORT=your_port
MONGO_URL=mongodb_url
MODEL_URL=url_for_inference_endpoint
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
OPENAI_API_KEY=your_openai_api_key
CLIENT_URL=your_web_client_url
GOOGLE_API_KEY=your_google_api_key